body {
  background: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 600px;
}

div.page {
  padding: 20px;
  border: 1px solid rgb(6, 49, 136);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 800px;
}
